<!DOCTYPE html>
<html lang="en">

<head>
    <title>Duc Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="root"></div>
    <p id="p-text"></p>
    <script src="bundle.js"></script>
</body>

</html>